html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin: 0;
}

header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececee;
  margin: auto;
}

img {
  display: block;
  height: auto;
}

ul {
  list-style: none;
}

input {
  color: #000000;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  margin: auto;
}

address {
  margin-top: 20px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: auto;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  padding-bottom: 30px;
  margin: 0;
}

.animation-portfolio {
  position: relative;
  overflow: hidden;
}

.animation-portfolio__text {
  position: absolute;
  padding-bottom: 77px;
  padding-right: 24px;
  padding-left: 24px;
  line-height: 1.15;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  color: #ffffff;
  padding-left: 24px;
  padding-right: 24px;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .animation-portfolio__text {
    padding-top: 63px;
    padding-bottom: 63px;
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media screen and (min-width: 480px) {
  .animation-portfolio__text {
    line-height: 1.55;
    padding-top: 77px;
  }
}
@media screen and (min-width: 768px) {
  .animation-portfolio__text {
    width: 354px;
    padding-top: 49px;
  }
}
.card-set__item:hover .animation-portfolio__text, .card-set__item:focus .animation-portfolio__text {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  transition-property: opacity 500ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.modal {
  background-color: #ffffff;
  padding: 40px;
}
@media screen and (max-width: 479px) {
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 480px) {
  .modal {
    max-width: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    width: 100%;
    height: 581px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
}
.modal__btn:hover, .modal__btn:focus {
  fill: #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  width: 11px;
  height: 11px;
}

.modal__text {
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-top: 0;
  color: #000000;
}

.form-group {
  position: relative;
  display: flex;
}

.form-group__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
}
.form-group__input:focus + .form-group__icon {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group__input {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  padding-left: 40px;
}
.form-group__input:focus {
  border: 1px solid #2196f3;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .form-group__input {
    width: 100%;
    height: 40px;
  }
}
@media screen and (min-width: 480px) {
  .form-group__input {
    width: 370px;
    height: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .form-group__input {
    width: 448px;
    height: 40px;
  }
}

.form-group__label {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  color: #000000;
  text-align: start;
}

.form-area {
  flex-direction: column;
  margin: 0;
  text-align: start;
}

.form-area__text {
  margin: 0;
  padding-left: 16px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  outline: none;
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.01em;
}
.form-area__text:focus {
  border-color: #2196f3;
}
.form-area__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (max-width: 479px) {
  .form-area__text {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .form-area__text {
    width: 370px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .form-area__text {
    width: 448px;
    height: 120px;
  }
}

.form-area__label {
  font-size: 12px;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #000000;
}

.form-check__btn {
  display: inline-block;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  padding: 0;
  background: #2196f3;
  border: #d9d9d9;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 479px) {
  .form-check__btn {
    min-width: 200px;
  }
}

.form-check__label {
  justify-content: center;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #000000;
  margin-top: 20px;
}
@media screen and (max-width: 479px) {
  .form-check__label {
    font-size: 6px;
    line-height: 1;
  }
}
@media screen and (min-width: 480px) {
  .form-check__label {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .form-check__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox {
  justify-content: center;
  border: 2px solid #212121;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  margin-right: 8px;
}
.form-check__input:focus + .form-check__label .checkbox {
  border-color: #2196f3;
}
.form-check__input:checked + .form-check__label .checkbox {
  background-color: #2196f3;
  border: none;
}

.form-check__link {
  color: #2196f3;
  margin-left: 3px;
}

.checkbox__icon {
  fill: transparent;
  width: 11px;
  height: 18px;
}

.checkbox__icon {
  fill: #ffffff;
}

.actions {
  position: relative;
}

.actions__title {
  position: absolute;
  bottom: 0px;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #fff;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
}

.soc-networks {
  padding: 0;
  margin-top: 16px;
  justify-content: center;
  gap: 10px;
}

.soc-networks__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-networks__link:hover, .soc-networks__link:focus {
  background-color: #2196f3;
}

.soc-networks__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-networks__link:hover .soc-networks__icon, .soc-networks__link:focus .soc-networks__icon {
  fill: #ffffff;
}

.soc-networks__link_color_white {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-list {
  padding: 0;
  gap: 30px;
  margin: 0;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .company-list {
    flex-wrap: wrap;
  }
}

.company-list__item {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .company-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .company-list__item {
    width: calc((100% - 60px) / 3);
  }
}

.company-list__logo {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  justify-content: center;
  color: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-list__logo:hover, .company-list__logo:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.company-list__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.card-set__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
}
.card-set__link:hover, .card-set__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 0;
}

.card-set__item {
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .card-set__item {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 768px) {
  .card-set__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card-set__item {
    width: calc((100% - 60px) / 3);
  }
}

.card-set__meta {
  flex-grow: 1;
  padding-left: 24px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card-set__title {
  color: #000000;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.card-set__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: none;
  margin: 0;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
  }
}

.filter-list__btn {
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-family: inherit;
  text-align: center;
  color: #000000;
  cursor: pointer;
  margin-left: auto;
  display: inline-block;
  border-radius: 4px;
  border: none;
  padding-left: 22px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__btn:hover, .filter-list__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list__btn--active {
  background-color: #2196f3;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobmenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 2;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobmenu > .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
  margin: 0;
}
.mobmenu > .container .navigator {
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .mobmenu {
    display: none;
  }
}

.mobmenu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.menu-close {
  border: none;
  background: transparent;
  display: block;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .menu-close {
    display: none;
  }
}
.menu-close:hover, .menu-close:focus {
  fill: #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open {
  border: none;
  background: transparent;
  display: block;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-nav {
  display: flex;
  gap: 50px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .menu-nav {
    display: none;
  }
}

.menu {
  font-size: 40px;
  line-height: 1.17;
  padding-left: 40px;
  gap: 50px;
  margin: 0;
}

.menu__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.menu__link--link_current {
  color: #2196f3;
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contacts__link--active {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu-networks {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  gap: 10px;
  margin-bottom: 48px;
  margin-top: 64px;
}
@media screen and (min-width: 767px) {
  .menu-networks {
    display: none;
  }
}

.menu-networks__item {
  padding-right: 10px;
}
.menu-networks__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  border-spacing: 0.5em;
}

.menu-networks__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header-content__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #000000;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-family: "Raleway";
  color: #2196f3;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.logo__text--inverse {
  color: #212121;
}

.logo__text--inversefooter {
  color: #ffffff;
}

.menu-nav__link {
  color: #000000;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav__link:hover, .menu-nav__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-nav__link--active {
    position: relative;
    color: #2196f3;
    text-decoration: none;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-nav__link--active::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    bottom: -1px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.menu-nav__link--link_current {
  color: #2196f3;
}

.contacts {
  gap: 6px;
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

.contacts__link {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: #2196f3;
  }
}
@media screen and (max-width: 767px) {
  .contacts__link {
    font-size: 24px;
    line-height: 1.16;
  }
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 787px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobgmobile.jpg);
  }
}
@media screen and (max-width: 787px) and (min-device-pixel-ratio: 2), screen and (max-width: 787px) and (min-resolution: 192dpi), screen and (max-width: 787px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobgmobile2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobgtablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobgtablet2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg2x.jpg);
  }
}

.hero__title {
  color: #ffffff;
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    max-width: 360px;
  }
}

.hero__button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  padding-left: 32px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  min-width: 200px;
  border: 1px solid transparent;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background: #2196f3;
}

.benefits-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .benefits-list {
    flex-wrap: wrap;
  }
}

.benefits-list__items {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits-list__items {
    width: calc((100% - 30px) / 2);
  }
}

.benefits-list__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}

.benefits-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .benefits-list__title {
    text-align: center;
  }
}

.image-box {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .image-box {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .image-box {
    width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__info {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 786px) {
  .page-footer__info {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .address-data {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .address-data {
    text-align: start;
  }
}

.address-list {
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  font-style: normal;
}

.address-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.address-list__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}

.address-list__contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #d9d9d9;
}
.address-list__contacts:hover, .address-list__contacts:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .join {
    margin-top: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .join {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
  }
}

.join__list {
  justify-content: center;
  gap: 10px;
  margin: 0;
  display: flex;
  padding: 0;
}

.join__title {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .join__title {
    display: flex;
  }
}

.mailing-list {
  width: 570px;
}

.mailing-form {
  flex-direction: column;
}
@media screen and (max-width: 1199px) {
  .mailing-form {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-form {
    margin-left: auto;
  }
}

.mailing-form__input {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgb(47, 48, 58);
  outline: none;
  padding-left: 16px;
}
.mailing-form__input:focus {
  border-color: #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .mailing-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-form__input {
    width: 358px;
  }
}
@media screen and (max-width: 1199px) {
  .mailing-form__input {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.mailing-form__label {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .mailing-form__label {
    width: 358px;
    display: flex;
  }
}

.mailing-form__btn {
  width: 200px;
  margin-left: 12px;
  border-radius: 4px;
  background: #2196f3;
  border: #2196f3;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-left: 29px;
  padding-top: 10px;
  padding-right: 9px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .mailing-form__btn {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 1199px) {
  .mailing-form__btn {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .mailing {
    display: flex;
  }
}

.mailing-form__icon {
  height: 30px;
  padding: 0;
  margin: 0;
  padding-left: 10px;
}

@media screen and (max-width: 1199px) {
  .features {
    display: none;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.features-list__items {
  width: 370px;
  flex-basis: 33.3333333333%;
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .team__list {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    gap: 30px;
  }
}

.team__items {
  border-bottom: 1px solid #afb1b8;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
@media screen and (max-width: 767px) {
  .team__items {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 768px) {
  .team__items {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__items {
    width: calc((100% - 90px) / 4);
  }
}

.team-members {
  padding-left: 10px;
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 30px;
  align-items: center;
}

.team-members__name {
  color: #000000;
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
  margin-top: auto;
}

.team-members__position {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
}

.team__image {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__btn, .form-check__label, .checkbox, .soc-networks, .soc-networks__link, .company-list__logo, .image-box {
  display: flex;
  align-items: center;
}/*# sourceMappingURL=main.css.map */