.benefits {
  padding-bottom: 0;
}

.benefits-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.benefits-list__items {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
}

.benefits-list__text {
  color: $title-color;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 30px;
}

.benefits-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-color;
  margin-top: 30px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.image-box {
  height: 120px;
  background-color: $background-section;
  border-radius: 4px;
  @extend %aling-list;
  justify-content: center;
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
