.features {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.features-list__items {
  width: 370px;
  flex-basis: calc(100% / 3);
}
