.filter-list {
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
  column-gap: 8px;
  @media screen and (max-width: 767px) {
    row-gap: 15px;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.filter-list__btn {
  background-color: $background-section;
  font-size: $btnfs;
  line-height: $filterlistlh;
  font-weight: $headerlinkfw;
  letter-spacing: $logols;
  font-family: inherit;
  text-align: center;
  color: $title-color;
  cursor: pointer;
  margin-left: auto;
  display: inline-block;
  border-radius: 4px;
  border: none;
  padding-left: 22px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  @media screen and (max-width: 767px) {
    padding-left: 25px;
    padding-right: 25px;
  }
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent;
    color: $background-site;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filter-list__btn--active {
  background-color: $accent;
  color: $background-site;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
