.title {
  font-weight: $btnfw;
  letter-spacing: $logols;
  text-align: center;
  color: $title-color;
  @media screen and (min-width: 480px) {
    padding-bottom: 30px;
    font-size: $titlemobilefs;
    line-height: $mobmenulh;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 50px;
    font-size: $titlefs;
    line-height: $formlh;
  }

  margin: 0;
}
