$background-site: #ffffff;
$background-hero: #2f303a;
$primary-title-color: #212121;
$title-color: #000000;
$accent: #2196f3;
$text-color: #757575;
$adress-color: #d9d9d9;
$background-section: #f5f4fa;
$border-color: #eeeeee;

$herofs: 44px;
$btnfs: 16px;
$logofs: 26px;
$titlemobilefs: 28px;
$titlefs: 36px;
$headerlinkfs: 14px;
$mobmenufs: 40px;
$mobmenucontactsfs: 24px;
$mobmenulinkactivefs: 34px;
$formfs: 12px;
$titlefs: 36px;
$mobmenunetworksfs: 18px;
$modalfs: 20px;

$herolh: 1.36;
$btnlh: 1.87;
$logolh: 1.19;
$headerlinklh: 1.14;
$mobmenulh: 1.17;
$mobmenulinkactivelh: 1.18;
$mobmenunetworkslh: 1.55;
$cardsetlh: 2;
$filterlistlh: 1.62;
$formtextlh: 1;
$formlh: 1.16;
$modallh: 1.15;
$benefitslh: 1.71;

$herofw: 900;
$btnfw: 700;
$headerlinkfw: 500;
$animationfw: 400;

$herols: 0.06em;
$logols: 0.03em;
$headerlinkls: 0.02em;
$formls: 0.01em;
