$background-site: #ffffff;
$background-hero: #2f303a;
$primary-title-color: #212121;
$title-color: #000000;
$accent: #2196f3;
$text-color: #757575;
$adress-color: #d9d9d9;
$background-section: #f5f4fa;
$border-color: #eeeeee;
